.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header img {
  height: 45px;
  border-radius: 0.3rem;
}

.header i {
  font-size: 20px;
}

.main {
  height: 740px;
  background-image: url(./images//background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 450px;
  width: 370px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: rgba(230, 227, 227, 0.849);
}

.content input {
  width: 70px;
  height: 50px;
  text-align: center;
}

.numberInput {
  height: 250px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

.bottomButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottomButton button {
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.bottomButton i {
  font-size: 2rem;
}

.footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgb(207, 207, 207);
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 4;
}

.footerContent {
  font-size: 9px;
  display: flex;
  flex-direction: column;
}

.footerSelect {
  margin-right: 20px;
}

#facebook {
  color: blue;
}

#youtube {
  color: red;
}

#linkedin {
  color: darkturquoise;
}

/* page 10 */
.mainContent {
  height: 80%;
  width: 90%;
  margin: auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(230, 227, 227, 0.849);
}

.rightContent p {
  color: rgb(121, 112, 112);

}

.leftContent {
  width: 40%;
}
.leftContent video {
  width: 100%;
}
.rightContent {

  width: 40%;
  margin-left: 10px;

}

.Text {
  margin-top: 30px;
  
}
